<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Screen Shot Page</title>
</head>
<body>
<header class="test1"><h1>Course Registration Online System&nbsp;<sub style="background-color:yellow">(CRO)</sub></h1></header>
<div class="container">
  <div>
    <h3>John Done<span style="position:absolute;top:150px;right:45%"> 83 of 120 Credit</span></h3>
    <h3>NVE-4427<span style="position:absolute;top:200px;right:45%">Undergraduate</span></h3>
    <h3>+21043567934</h3>
    <h3>johndone@dksu.edu</h3>
  </div>

  <div>
    <h2>Register Information</h2><br>
    <h3>Registration ID : <strong>34233544</strong></h3>
    <h3>Course : <b>SK103-Literature in Sanskrit Language</b></h3>
    <h3>Semester : <b>Winter 2020</b></h3>
  </div>

  <div>
    <a routerLink="/register" class="btn btn-outline-info">Dashboard</a>
  </div>
</div>
<br><br><br><br><br>
<footer class="test2"><h3>&copy; Dekastan State University(Civitas Universitas Dekastan)</h3></footer>
</body>
</html>
