<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
  <title>Register Page</title>
</head>
<body>
<header class="test1"><h1>Course Registration Online System&nbsp;<sub style="background-color:yellow">(CRO)</sub></h1></header>
<div class="test">
  <div>
    <h5>John Done<span style="position:absolute;top:150px;right:45%"> 83 of 120 Credit</span></h5>
    <h5>NVE-4427<span style="position:absolute;top:200px;right:45%">Undergraduate</span></h5>
    <h5>+21043567934</h5>
    <h5>johndone@dksu.edu<span style="position:absolute;top:250px;right:45%"><a routerLink="/dashboard"> Register Course List</a></span></h5>
  </div>
  <br><br><br>
  <div class="col-sm-12">
    <div class="card-header"><h3>Registration</h3></div>
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="name">Department</label>
          <select class="custom-select">
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Department</label>
          <select class="custom-select">
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Semester</label>
            </div>
            <input type="radio">Winter &nbsp; &nbsp; &nbsp;
            <input type="radio">Summer
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Year</label>
              <select class="custom-select">
                <option>2020</option>
                <option>2021</option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group float-right">
          <a routerLink="/screenshot" class="btn btn-primary">Submit Registration</a>
        </div>
      </form>

    </div>
  </div>


</div>
<br><br><br><br><br>
<footer class="test2"><h3>&copy; Dekastan State University(Civitas Universitas Dekastan)</h3></footer>

</body>
</html>
